ul.menu {
  list-style: none;
  margin-bottom: 0;
}

ul.menu li {
  position: relative;
  float: left;
  margin-bottom: 0;
}

ul.menu li a {
  text-decoration: none;
  margin-right: 35px;
}

ul.wishes {
  list-style: none;
  margin-bottom: 0;
}

.wish__delete {
  height: auto;
  padding: 0;
  margin-right: 5px;
}